---

// SVGs
import Bolt from '../svg/Bolt.astro'
import VideoCamera from '../svg/VideoCamera.astro'
import BrowserWindow from '../svg/BrowserWindow.astro'
// end SVGs

import OnlineClassroomFeature from '../../images/desmos_graph_small.webp';
import SysReq from '../global/SysReq.astro';

const onlineClassroomTitle = "Our Online Classrooms";
const onlineClassroomDescription = "Our secure online classrooms are designed to provide the most advanced, interactive, personalised and effective online learning environment.";

const featureList = [
    {
        title: "Enhanced Tools. ",
        description: "Our classrooms offer an online whiteboard, drawing and text tools, a PDF creator, voice and video conferencing, screen sharing, and video sharing.",
        icon: Bolt
    },
    {
        title: "Lesson Recording. ",
        description: "Lessons are recorded and emailed to students for review and revision.",
        icon: VideoCamera
    },
    {
        title: "Platform Compatibility. ",
        description: "Our online classroom works best on Windows, Mac desktop and laptop computers.",
        icon: BrowserWindow
    },
  ]

---

<div id="tutors-oc" class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0 text-zinc-800 border-lime-800/10 border-b">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-12 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-0">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-8">
                <div class="lg:max-w-xl">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-zinc-950 sm:text-4xl">{onlineClassroomTitle}</h2>
                    <p class="mt-6 text-base font-semibold leading-7 text-zinc-950">{onlineClassroomDescription}</p>
                </div>
            </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] border-2 border-lime-800" src={OnlineClassroomFeature.src} alt="">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="max-w-xl text-base leading-7 lg:max-w-xl">
                  <ul role="list" class="space-y-6 mt-2 lg:mt-6">
                    {featureList.map((feature, index) => (
                        <li class="flex gap-x-3 align-items-center">  {/* Flex container */}
                            <feature.icon />
                            <span>
                                <strong class="font-semibold text-zinc-950">{feature.title}</strong>{feature.description}
                            </span>
                        </li>
                    ))}
                </ul>
                    <SysReq />
                </div>
            </div>
        </div>
    </div>
</div>
